verif/riscof_work/
*.pyc
__pycache__/
verif/sim_work
verif/pcore-plugin/__pycache__/
verif/sail_cSim-plugin/__pycache__/
riscv-arch-test/riscv-test-suite/rv32i_m/basic/
fpga/*
sdk/build/
vivado/*/
rtl/memory/*.txt
questa_proj/

*.bak
