name: rvmcu-riscof

on: [push, pull_request]

jobs:

  rvmcu-verification:
    runs-on: ubuntu-22.04

    steps:
    - name: Repository Checkout
      uses: actions/checkout@v3
      with:
        path: rvmcu

    - name: Install verilator and riscof
      run: |
        sudo apt-get update
        sudo apt-get install -y python3 python3-pip python3-venv
        sudo apt-get install -y gcc git autoconf automake libtool curl make unzip
        sudo apt-get install autoconf automake autotools-dev curl python3 python3-pip libmpc-dev libmpfr-dev libgmp-dev gawk build-essential bison flex texinfo gperf libtool patchutils bc zlib1g-dev libexpat-dev ninja-build git cmake libglib2.0-dev libslirp-dev
        sudo apt-get install verilator device-tree-compiler
        pip3 install git+https://github.com/riscv/riscof.git

    - name: Build RISCV-GNU Toolchain (32 bit)
      run: |
        wget -c https://github.com/riscv-collab/riscv-gnu-toolchain/releases/download/2024.09.03/riscv32-elf-ubuntu-20.04-gcc-nightly-2024.09.03-nightly.tar.gz
        tar -xzf riscv32-elf-ubuntu-20.04-gcc-nightly-2024.09.03-nightly.tar.gz
        mv riscv riscv32  
        echo $GITHUB_WORKSPACE/riscv32/bin >> $GITHUB_PATH

    - name: Build RISCV-GNU Toolchain (64 bit)
      run: |
        wget -c https://github.com/riscv-collab/riscv-gnu-toolchain/releases/download/2024.09.03/riscv64-elf-ubuntu-20.04-gcc-nightly-2024.09.03-nightly.tar.gz
        tar -xzf riscv64-elf-ubuntu-20.04-gcc-nightly-2024.09.03-nightly.tar.gz
        mv riscv riscv64  
        echo $GITHUB_WORKSPACE/riscv64/bin >> $GITHUB_PATH


    - name: Install Sail
      run: |
        tar -xzf rvmcu/verif/bin/sail-riscv.tar.gz
        echo $GITHUB_WORKSPACE/sail-riscv >> $GITHUB_PATH

    - name: Install riscv-isac
      run: |
        cd rvmcu/verif/bin/riscv-isac
        pip3 install --editable .


    - name: Run Verification Framework
      run: |
        cd rvmcu/verif
        chmod +x run-tests.sh
        ./run-tests.sh
       
    # Upload the riscof_work for rv32 folder
    - name: Upload Artifacts
       # Proceed with upload only if the size is within limit  
      if: always()  
      uses: actions/upload-artifact@v4
      with:
        name: riscof-test-report-rv32
        path: rvmcu/riscof_work/
        if-no-files-found: warn
        retention-days: 3
        compression-level: 6
        overwrite: true
        include-hidden-files: false
